﻿.event-title{color:#231f20; font-size:20px; font-weight:700;}
.event-data{width:100%; padding-bottom: 25px;}
.event-pic{width:33%;position: relative;}
.event-pic span a{color: #fff; font-size: 16px; display: none;}
.event-pic span.event-like{position: absolute; left: 11%; bottom: 10px;}
.event-pic span.event-share{position: absolute; left:46%; bottom: 10px;}
.event-pic span.event-plus{position: absolute; right: 9%; bottom: 10px;}
.event-prfle{width:63%;}
.event-prfle span.event-sub{font-size:15px; color:#bbb; float:left; width:100%; font-weight:normal; padding:5px 0;}
.event-prfle span.event-sub span.byname{font-weight:700; color:#aaa;}
.event-prfle span.event-sub span.daysago{float:right; font-size:12px;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 12px;}
.bot-links{ width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.event-pic:hover img.play-icon, .event-pic:hover span a{display: block; }
.glyph-big {
    font-size:40px;
}
 #map-canvas {
        width: 500px;
        height: 400px;
      }
#alert {
   visibility:hidden;
}

.comments .media-heading {
    margin-top: 25px;
}

.comments .comment-info {
    margin-left: 6px;
    margin-top: 21px;
}

.comments .comment-info .btn {
    font-size: 0.8em;
}

.comments .comment-info .fa {
    line-height: 10px;
}

.comments .media-body p {
    position: relative;
    background: #F7F7F7;
    padding: 15px;
    margin-top: 50px;
}

.comments .media-body p::before {
    background-color: #F7F7F7;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 30px;
    left: 20px;
    position: absolute;
    top: -13px;
    transform: rotate( 135deg );
    width:  30px;
}

.white {
    color: #fff;
}

.jumbotron {
    background-image:url('/images/e5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
