


<div class="container">
    <div class="jumbotron success">
    <h1>Let the buzz begin ...&#9834;&#9835;&#9834;&#9835;</h1>
</div>
    <h4  id="homehead">Popular events around you!!!</h4>
    <div ng-repeat="event in upcomingEvents" class="panel-grid panel panel-default">
        <div class="panel-heading">
            <!-- {{event.id}}-->
            <a href="#/event/{{event.id}}/details">{{event.title}}
            </a>
        </div>

        <div class="panel-body">
            <div class="col-md-3">
                <img class="img-responsive" ng-src="{{event.image['medium'].url}}" />
            </div>
            <div class="col-md-9">
                <span ng-bind-html="event.description"></span>
                <br />
               <b>Location: </b>{{event.city_name}}
                <br />
               <b>Date: </b>{{event.start_time}}
                <br />
            </div>


        </div>
    </div>
    
      <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </pagination>

</div>
