﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Event Buzz</title>
    <link href="css/lumen.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet" />
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="views/home/home.js"></script>
    <script src="views/login/login.js"></script>
    <script src="views/profile/profile.js"></script>
    <script src="views/register/register.js"></script>
    <script src="views/user/user.js"></script>
    <script src="views/nav/nav.js"></script>
    <script src="services/UserService.js"></script>
    <script src="services/EventService.js"></script>
    <script src="views/event/event.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-bootstrap/dist/ui-bootstrap.js"></script>
</head>
<body ng-app="EventBuzz">

    <!-- Search Navbar - START -->
        <nav ng-controller="NavCtrl" class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home" ng-click="reload()"><strong> EventBuzz</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#home" ng-click="reload()">Home</a></li>
                    <li ng-show="currentUser"><a href="#profile">Profile</a> </li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input  ng-model="searchtxt" type="text" autocomplete="on" id="txtsearch" class="form-control" placeholder="Search Events..."></input>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-show="!currentUser"><a href="#register">Register</a></li>
                    <li ng-show="currentUser"><a href="#user">Users</a></li>
                    <li ng-show="!currentUser"><a href="#login">Login</a></li>  
                    <li ng-show="currentUser"><a href="/#user/{{currentUser._id}}">My Data</a></li>                  
                    <li ng-show="currentUser"><a href="#logout" ng-click="logout()">(Not {{currentUser.username}}?)Logout</a></li>
                </ul>
            </div>
        </nav>

        <!-- Search Navbar - END -->



    <div class="container">

        <div ng-view>
        </div>
    </div>
</body>
</html>