<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="event-data pull-left">
                <div class="event-pic pull-left">
                    <img class="img-responsive" ng-src="{{event.images.image[0].medium.url}}" />
                </div>
                <div class="event-prfle pull-right">
                    <div class="event-title">
                        {{event.title}} 
                                <span class="event-sub"><span class="byname">At {{event.venue_name}} on {{event.start_time}}</span></span>
                    </div>
                    <div>{{event.address}}, {{event.city}}, {{event.region_abbr}} - {{event.postal_code}}</div>
                    <div class="counter-tab">
                        <button id="btnLike" ng-click="addLikes(event)" type="button" class="btn btn-default btn-sm">
                            <span id="likeDecider" class="glyphicon glyphicon-thumbs-up">Like</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div map-lazy-load="http://maps.google.com/maps/api/js">
                <map center="{{event.latitude}},{{event.longitude}}" zoom="16">
                    <marker position="{{event.latitude}},{{event.longitude}}" title="Event Location"></marker>
                </map>
            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div ng-bind-html="event.description" class="col-md-12">
        </div>
    </div>

    <br />




    <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h4>Add Comments here</h4>
                    <div id="commentSection" class="input-group">
                        <input ng-model="comment" type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                        <span class="input-group-btn" ng-click="addComment(comment)">
                            <button id="btnComment" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Add Comment</button>
                        </span>
                    </div>
                    <br />
                    <ul id="commentsPanel" ng-repeat="comm in fetchedComments" class="media-list comments">
                        <li class="media">
                            <a class="pull-left">
                                <img class="media-object img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png" width="64" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading pull-left"><a class="usrComments" href="#/user/{{comm.userID}}">{{comm.username}}</a></h5>
                                <div class="comment-info pull-left">
                                    <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i>Posted on {{comm.dateAdded}}</div>
                                </div>
                                <br class="clearfix">
                                <p class="well">{{comm.comment}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>

    </div>

        <div class="row">
    <div class="col-md-12">
        <br />
        <span class="bot-links" ng-repeat="tag in event.tags.tag">
            <a href="#">{{tag.title}}</a>
        </span>
    </div>
    </div>

</div>
