<div class="container">
    <div  class="panel-grid panel panel-info">

        <div class="panel-heading">
            <div class="glyphicon glyphicon-user pull-left glyph-big"></div>
            <div>{{select.username}}</div>
            <br />
        </div>

        <div class="panel-body">
            <div class="col-md-9">
               <b>First Name: </b> {{select.firstName}}
                <br />
               <b>Last Name: </b>{{select.lastName}}
                <br />
               <b>Email: </b>{{select.email}}
                <br />
                <b>Likes:</b>
                <ul>
                <li  ng-repeat="like in select.likes">
                   <a href="#/event/{{like.eventID}}/details"> {{like.title}}</a>
                </li>
                </ul>
                <br />
                <b>Follows:</b>
                <ul>
                <li ng-repeat="follow in select.follows">
                   <a href="#/user/{{follow.userID}}"> {{follow.username}}</a>
                </li>
                </ul>
                <br />
                <b>Comments:</b>
                <br />
                <ul>
                <li ng-repeat="comment in select.comments">
                    {{comment.comment}}
                   <a href="#/event/{{comment.eventID}}/details">&nbsp;&nbsp;&nbsp;&nbsp;Go to Event<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                </li>
                </ul>
                <br />
                <button id="btnFollow" ng-click="follow(select)" class="btn btn-primary">Follow @{{select.username}}</button>
            </div>
            


        </div>
    </div>
    <div id="alert" class="alert alert-success" >
                <a class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your followed the user successfully.
            </div>
   