<h1>User</h1>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            
        </tr>
    </thead>

    <tr ng-repeat="user in users">
          <td> <a href="#/user/{{user._id}}">{{user.username}}</a></td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    </tr>
</table>
