<html>
<head>
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="">
                    <div class="">
                        <h3 class="text-center">PROFILE</h3>

                    </div>
                    <div class="panel-body">                       
                        <fieldset>
                            <div class="form-group has-success">
                                <input ng-model="currentUser.username" class="form-control input-lg" placeholder="UserName"/>
                            </div>
                            <div class="form-group has-success">
                                <input ng-model="currentUser.password" class="form-control input-lg"  placeholder="Password" type="password"/>
                            </div>
                            <div class="form-group has-success">
                               <input ng-model="currentUser.firstName" class="form-control input-lg"  placeholder="First Name"/>
                            </div>
                            <div class="form-group has-success">
                               <input ng-model="currentUser.lastName" class="form-control input-lg"  placeholder="Last Name"/>
                            </div>
                            <div class="form-group has-success">
                                <input ng-model="currentUser.email" class="form-control input-lg"  placeholder="E-mail"/>
                            </div>
                            <button ng-click="update(currentUser)">Update</button>
                        </fieldset>
                    </div>
                </div>
                <div id="alert" class="alert alert-success" >
                <a class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your updated your profile successfully.
            </div>
            </div>
          
        </div>
    </div>
    </body>
    </html>
 

<!-- TO DO ADMIN MODULE
    <div ng-show="currentUser.roles.indexOf('admin') > -1">
    <h2>Admin</h2>
    <h3>Course List</h3>
    
    <h3>User List</h3>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tr>
            <td>&nbsp;</td>
            <td><input ng-model="user.username" class="form-control" placeholder="username"/></td>
            <td><input ng-model="user.password" class="form-control" placeholder="password" type="password"/></td>
            <td><input ng-model="user.firstName" class="form-control" placeholder="firstName"/></td>
            <td><input ng-model="user.lastName" class="form-control" placeholder="lastName"/></td>
            <td><input ng-model="user.email" class="form-control" placeholder="email"/></td>
            <td><input ng-model="user.roles" class="form-control" placeholder="roles"/></td>
            <td><button ng-click="add(user)">&plus;</button>
            <td><button ng-click="update(user)">&check;</button>
        </tr>
            
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>&nbsp;</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td><button ng-click="remove(user)">X</button>
            <td><button ng-click="select(user)">...</button>
        </tr>
    </table>
</div>-->

<!--{{currentUser}}

{{users}}-->